.title-resource{
    color: var(--colorPrimary);
    font-size: 2.4rem;
    margin-bottom: 4rem;
}
.mt-container{
    margin-top: 5rem;
    padding-bottom: 6rem;
}
.formulario{
    width: 100%;
}
.container-border{
    padding: 1.5rem 2.5rem;
    border: 1px solid rgba(173, 173, 173, 0.788);
    border-radius: 5px;
    margin-bottom: 2rem;
}
.container-border p{
    margin-bottom: 1rem;
}
.formulario input{
    padding: .5rem;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(173, 173, 173, 0.788);
    background-color: rgba(255, 255, 255, 0);
}
.formulario input:focus{
    /* background-color: red; */
    outline: none;
}
.container-border-recurso{
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    border: 1px solid rgba(173, 173, 173, 0.788);
    border-radius: 5px;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}
.container-border-recurso i{
    color: var(--colorPrimary);
    margin-right: 2rem;
}
.container-border-recurso i:hover{
    cursor: pointer;
    font-size: large;
}
.container-sb{
    margin-top: 3rem;
}
.container-sb .agg-tag{
    margin-top: 1rem;
    display: flex;
}
.container-sb .mb-1{
    margin-bottom: 1rem;
}
.container-sb .agg-tag input{
    width: 85%!important;
}
.container-sb .agg-tag button{
    width: 15%!important;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--colorPrimary);
    color: var(--colorPrimary);
    border-radius: 5px;
}

.footer{
    /* width: 100%; */
    background-color: var(--colorPrimaryBackground);
    /* height: 4rem; */
    padding: 1rem 4rem;
    display: flex;
    justify-content: flex-end;
}
.footer .btn-guardar{
    padding: .8rem 4rem;
    color: #fff;
    text-align: center;
    background-color: var(--colorPrimary);
    width: 10%;
    border-radius: 5px;
}
.footer .btn-guardar:hover{
    cursor: pointer;
    opacity: .94;
    font-weight: 700;
}

